<div>
  <h2>Product Component</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi odio voluptas
    aut iure! Illo dolor dolores itaque repudiandae inventore voluptatibus in
    laborum vel necessitatibus consequatur rem maxime, reprehenderit molestias!
    Enim, necessitatibus! Incidunt, odit, id ipsa amet excepturi, rem omnis
    pariatur velit animi nam cum? Deleniti exercitationem incidunt unde facilis
    cum?
  </p>
  <button>Click here</button>
  <ul>
    <li>
      <a [routerLink]="['/products/detail/12']">Detail</a>
    </li>
    <li>
      <a [routerLink]="['/products/spec']">Spec</a>
    </li>
    <li>
      <a [routerLink]="['/products/price']">Price</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
